.button {
  padding: 5px 10px;
  cursor: pointer;
  background: #2196f3;
  border: none;
  border-radius: 20px;
  color: #fff;
  transition: all .3s;

  &:hover:not(:disabled) {
    scale: 1.05;
  }

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
}